<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- abstract="true" yaparak bu nesnenin oluşturulması engellenir.
	Yani bu bean  başka yerden alınamaz -->
	<bean id="database" class="com.proje.model.Database" abstract="true">
		<property name="username" value="yakup"></property>
		<property name="password" value="12345"></property>
	</bean>
	
	<bean id="mysqlDatabase" class="com.proje.model.Database" parent="database">
		<property name="url" value="mysql:localhost:8080"></property>
	</bean>
	
	<bean id="oracleDatabase" class="com.proje.model.Database" parent="database">
		<property name="url" value="oracle:localhost:3232"></property>
	</bean>
</beans>





